body {
    margin: 10;
    font-family: 'Segoe UI', sans-serif;
    background: #eef4ff;
}

.split-container {
    display: flex;
    height: 100vh;
}

/* LEFT SIDE */
.form-side {
    flex: 1;
    padding: 20px;
    background: white;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.05);
}

h2 {
    color: #0d6efd;
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
}

.input-group {
    margin-bottom: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

input[type="number"] {
    width: 95%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    width: 97%;
    padding: 12px;
    background-color: #198754;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #146c43;
}

/* RIGHT SIDE */
.animation-side {
    flex: 1;
    background: #f7fbff;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.animated-result {
    width: 300px;
    height: 250px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animated-result p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 15px;
}

.happy {
    background: #e0ffe5;
    border: 2px solid #28a745;
    color: #28a745;
    animation: bounce 1s ease infinite alternate;
}

.danger {
    background: #ffe0e0;
    border: 2px solid #dc3545;
    color: #dc3545;
    animation: shake 0.8s ease infinite;
}

.emoji {
    font-size: 60px;
    animation: scaleUp 0.8s ease-in-out infinite alternate;
}

.hint {
    font-size: 18px;
    color: #888;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes bounce {
    0% { transform: translateY(0px); }
    100% { transform: translateY(-10px); }
}

@keyframes shake {
    0% { transform: rotate(-2deg); }
    50% { transform: rotate(2deg); }
    100% { transform: rotate(-2deg); }
}

@keyframes scaleUp {
    0% { transform: scale(1); }
    100% { transform: scale(1.1); }
}
.note-wrapper {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.note-message {
    font-size: 13px;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    padding: 10px;
    width: 90%;
    text-align: center;
    border-radius: 8px;
    font-style: italic;
}

